@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif; }

body {
  background-color: #89a3b9;
  color: #fff; }

nav,
h1,
h2,
h3,
h4,
h5 {
  font-weight: 700; }

nav,
h1,
h3,
h4,
h5 {
  text-transform: uppercase; }

#banner,
#social h3 {
  text-align: center; }

a,
a.no-hover:hover {
  text-decoration: none;
  color: #69E885; }

a:hover:not(.no-hover) {
  color: #fff; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

.max-width {
  max-width: 100rem; }

header {
  background-color: #848E9C;
  height: 80px; }

#top-nav {
  height: 80px; }

nav {
  float: right;
  padding-top: 16px;
  padding-right: 10px; }
  nav li {
    display: inline; }
  nav li a {
    display: inline-block;
    padding: 10px;
    font-size: 1.2em; }

#social {
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 5%;
  background-color: #848E9C; }
  #social h3 {
    color: #69E885; }
  #social ul {
    text-align: center; }
  #social li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px; }

#bottom {
  background-color: #848E9C; }
  #bottom footer p {
    font-size: .8em;
    padding-right: 2%;
    padding-top: 10%;
    margin-left: 50%; }

#banner {
  padding-top: 80px;
  padding-bottom: 20px;
  background-image: url(../images/banner-image.jpeg);
  background-size: cover;
  background-position: center bottom;
  color: #fff; }
  #banner h1 {
    word-spacing: .3em; }
  #banner h2 {
    font-size: 1.5em;
    margin-top: 40px; }
  #banner ul {
    text-align: center; }
  #banner li {
    display: inline-block;
    padding: 10% 5%; }
  #banner svg:hover {
    -webkit-filter: drop-shadow(12px 12px 7px rgba(255, 255, 255, 0.6));
    filter: drop-shadow(12px 12px 7px rgba(255, 255, 255, 0.6)); }

#portfolio {
  margin-top: 40px;
  	/*.tile {
  		height: 210px;
  		width: 270px;
  		position: relative;
  
  		span {
  			position: absolute;
  			top: 25%;
  			left: 20%;
  			text-transform: uppercase;
  			font-weight: $bold;
  			font-size: 1.2em;
  			visibility: hidden;
  		}
  
  		span:hover {
  			visibility: visible;
  		}
  	}*/
  /*img:hover {
  	opacity: 0.3;
  	transition: opacity .5s ease-in-out;
  }*/ }
  #portfolio h3 {
    color: #69E885;
    margin-bottom: 2%;
    word-spacing: .2em; }
  #portfolio img {
    margin-bottom: 15%;
    border: solid 4px #848E9C;
    height: 200px;
    width: 260px; }
  #portfolio .thumbnail:hover,
  #portfolio .thumbnail:focus {
    box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.8); }

#story,
#skills {
  margin-top: 40px; }
  #story h3,
  #skills h3 {
    color: #69E885; }

#story p {
  color: #fff; }

#skills {
  padding-left: 5%; }
  #skills h3 {
    padding-right: 5%; }
  #skills h4 {
    font-size: 1em;
    color: #fff; }
  #skills li {
    color: #fff; }

#portfolio-header {
  background-color: #89a3b9;
  margin-top: 10%; }
  #portfolio-header a {
    color: #fff; }
  #portfolio-header a:hover {
    font-weight: 700; }
  #portfolio-header h3 {
    color: #69E885; }

#portfolio-page-images {
  margin-top: 2%; }
  #portfolio-page-images img {
    margin-right: 2%;
    border: 4px solid #000; }

#project-details {
  margin-top: 5%; }
  #project-details h4 {
    color: #69E885; }
  #project-details h5 {
    display: inline;
    color: #69E885; }
  #project-details h5:hover {
    color: #fff; }
  #project-details #previous-nolink {
    color: #848E9C;
    margin-top: 2%; }
  #project-details img {
    display: inline;
    height: 35px;
    width: 35px;
    margin-right: 2%; }

.next {
  margin-top: 32%; }
  .next h5 {
    color: #69E885;
    display: inline; }
  .next img {
    display: inline;
    height: 35px;
    width: 35px;
    margin-left: 2%; }
  .next h5:hover {
    color: #fff; }

#next-personal {
  margin-top: 21%; }

#brewery-next {
  margin-top: 28%; }

.jarvis-images img {
  height: 300px;
  width: 180px; }

#rey-next {
  margin-top: 19%; }

#js-next {
  margin-top: 15%; }

@media (max-width: 950px) {
  #portfolio img {
    height: 150px;
    width: 210px; } }
@media (max-width: 750px) {
  #banner {
    height: 50%;
    padding-top: 20px; }
    #banner h1 {
      font-size: 2em; }
    #banner h2 {
      font-size: 1em;
      margin-top: 10px; }
    #banner svg {
      height: 50px;
      width: 50px; }

  #portfolio {
    margin-top: 1%; }
    #portfolio img {
      height: 100px;
      width: 160px; }

  #social {
    padding-top: 2%;
    padding-bottom: 2%; }

  #bottom a {
    font-size: 1em;
    padding: 2%; } }
@media (max-width: 700px) {
  #skills h4 {
    font-size: .8em; }
  #skills li {
    font-size: .8em; }

  #social svg {
    height: 40px;
    width: 46px; } }
@media (max-width: 550px) {
  #portfolio img {
    height: 80px;
    width: 140px; } }
@media (max-width: 520px) {
  #story p {
    font-size: .8em; }

  #skills h4 {
    font-size: .6em; }
  #skills li {
    font-size: .6em; } }
@media (max-width: 490px) {
  #banner {
    padding-top: 10px; }
    #banner h1 {
      font-size: 1.5em; }
    #banner h2 {
      font-size: .8em; } }
@media (max-width: 440px) {
  #skills h4 {
    font-size: .5em; }
  #skills li {
    font-size: .5em; } }

/*# sourceMappingURL=app.css.map */
