// HOMEPAGE STYLES

// BANNER
#banner {
	padding-top: 80px;
	padding-bottom: 20px;
	background-image: url(../images/banner-image.jpeg);
	background-size: cover;
	background-position: center bottom;
	color: $bannercolor;

	h1 {
		word-spacing: .3em;
	}

	h2 {
		font-size: 1.5em;
		margin-top: 40px;
	}

	ul {
		text-align: center;
	}

	li {
		display: inline-block;
		padding: 10% 5%;
	}
}


// PORTFOLIO Section
#portfolio {
	margin-top: 40px;

	h3 {
		color: $masteraccentcolor;
		margin-bottom: 2%;
		word-spacing: .2em;
	}

	/*.tile {
		height: 210px;
		width: 270px;
		position: relative;

		span {
			position: absolute;
			top: 25%;
			left: 20%;
			text-transform: uppercase;
			font-weight: $bold;
			font-size: 1.2em;
			visibility: hidden;
		}

		span:hover {
			visibility: visible;
		}
	}*/

	img {
		margin-bottom: 15%;
		border: solid 4px #848E9C;
		height: 200px;
		width: 260px;
	}

	/*img:hover {
		opacity: 0.3;
		transition: opacity .5s ease-in-out;
	}*/

	.thumbnail:hover, 
	.thumbnail:focus {
	    box-shadow: 0 0 20px 1px rgba(255, 255, 255, 0.8);
	}
}


// STORY and SKILLS
#story,
#skills {
	margin-top: 40px;

	h3 {
		color: $masteraccentcolor;
	}
}

#story {
	p {
		color: #fff;
	}
}

#skills {
	padding-left: 5%;

	h3 {
		padding-right: 5%;
	}

	h4 {
		font-size: 1em;
		color: #fff;
	}
	
	li {
		color: #fff;
	}

}