 // FONTS 
 // Site font 
 @import url(https://fonts.googleapis.com/css?family=Lato:400,700);

// Masterfont
 $masterfont: 'Lato', sans-serif;

 // Font-weights
 $bold: 700;


 // TEXT STYLES
 $uppercase: uppercase;
 $center: center;


// COLORS
// Master background color
 $masterbackground: #89a3b9;

// Master font color
 $masterfontcolor: #fff;

// Accent font color
 $masteraccentcolor: #69E885;

 // Header bar color
 $headerbackground: #848E9C;

 // Banner font color
 $bannercolor: #fff;

 // Social section color
 $socialbackground: #848E9C;

 // Footer bar color
 $footerbackground: #848E9C;

// Project image border color
$imgbordercolor: #000;
 

 
// LINKS
// Text decorations
$notextdec: none;

// Main link color
$linkcolor: #69E885;

// Portfolio pages link color
$portlinkcolor: #fff;

// Hovers
$hovercolor: #fff;


// ZERO MARGIN AND PADDING
$nomargin: 0;
$nopadding: 0;



