/* --- MAIN STYLES --- */
body {
	background-color: #0E005E;
	color: #54C84A;
}

nav, 
h1, 
h3,
h4,
h5 {
	font-weight: 700;
	text-transform: uppercase;
}

header,
#social h3 {
	text-align: center;
}

.portfolio,
#story,
#skills {
	margin-top: 20px;
}


/* --- LINKS --- */
a,
a.no-hover:hover {
	text-decoration: none;
	color: #54C84A;
}

a:hover:not(.no-hover) {
	color: #fff;
}




/* --- IMAGES --- */



/* --- NAV --- */
#top-nav ul {
	padding-left: 50%;
}

nav li {
	display: inline;
}

nav li a {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}




/* --- HOME HEADER --- */
header {
	margin-top: 20px;
	margin-bottom: 20px;
}

header h1 {
	word-spacing: .3em;
}

header h2 {
	font-size: 1.5em;
	margin-top: -10px;
}


/* --- UNDER CONSTRUCTION --- */
#temporary {
	margin-top: 20%;
}

#temporary h3,
#temporary h4 {
	text-transform: none;
	text-align: center;
	color: #fff;
}

#temporary h4 {
	font-size: .8em;
} 


/* --- WORK and PLAY SECTIONS --- */
.portfolio {
	padding-left: 5%;
}

.portfolio img {
	margin-right: 2%;
}

/* --- COMING SOON STYLES --- */



/* --- SKILLS SECTION --- */
#skills {
	line-height: 0;
}

#skills h4 {
	font-size: 1em;
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 1.2em;
	text-transform: none;
}

#skills img {
	border-radius: 10px;
}


/* --- SOCIAL SECTION --- */
#social {
	margin-top: 10%;
	margin-bottom: 5%;
}

#social ul {
	margin-left: 10%;
}

#social li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

#social img {
	display: inline-block;
}


/* --- FOOTER --- */
footer p {
	font-size: .8em;
	padding: 2%;
	margin-left: 40%;
}


/* --- PORTFOLIO PAGE STYLES --- */
#portfolio-header {
	text-align: left;
}

#portfolio-header a {
	color: #fff;
}

#portfolio-header a:hover {
	font-weight: 700;
}

#portfolio-page-images img {
	margin-right: 2%;
}

#project-details {
	margin-top: 5%;
}

#next {
	margin-top: 35%;
}

#next h5,
#next img {
	display: inline;
}

#next img {
	height: 35px;
	width: 35px;
	margin-left: 2%;
}




